<phpunit backupGlobals="true"
             backupStaticAttributes="true"
             bootstrap="./tests/bootstrap.php"
             colors="true"
             convertErrorsToExceptions="true"
             convertNoticesToExceptions="true"
             convertWarningsToExceptions="true"
             processIsolation="false"
             stopOnFailure="fakse"
             syntaxCheck="false"
             >
             <testsuites>
               <testsuite name="My Test Suite">
                 <directory>tests</directory>
               </testsuite>
             </testsuites>             
</phpunit>
    