#ng_bitflux_org, body {
background-color: #ffffff;
font-size: 12px;
font-family: "Trebuchet MS", Geneva, Arial, Helvetica, SunSans-Regular, sans-serif;
color:#000000;  
padding:0px;
margin: 10px;
}


p.newsitem {
width:400px;
}
