<?xml version="1.0"?>
<config>
    <configCache>false</configCache>
    <tmpdir>{API_PROJECT_DIR}tmp/</tmpdir>
    
    <commandmap regex="true" />
    
    <lang dir="{API_PROJECT_DIR}/lang" fileprefix="lang" i18ntransform="true">
        <output default="en">en,de</output>
    </lang>
    
    <hosts>
        <host sld="demo" tld="okapi.org" />
        <host sld="pathdemo" tld="okapi.org" path="/xyz" />
        
        <!-- Must be around. -->
        <host name="localhost" />
    </hosts>
    
    <!-- <exceptionhandler>
         <handler exception="*">ignore</handler>
    </exceptionhandler> -->
</config>
