body div#content {
}

table {
width:800px;
}
table thead {
background-color:#6C5E6C;
color:#e9e9e9;
}

thead th {
text-align:left;
font-weight:bold;
padding:5px 2px;
}

tbody tr.grey {
background-color:#D6D0DE;
}

tbody tr.codetr {
background-color:#E1E4F2 /*#DDE4EF*/;
}

tbody tr td {
padding:0px 2px;
height:25px;
}

div.codeblock {
margin:0px;
padding:0px;
}

div.codeblock pre {
margin:0px;
padding:0px;
}

div.codeblock table tr td {
padding:0px 2px;
margin:0px;
height:auto;
}
div.codeblock table tr td.red {
border:1px solid #ff3300;
}

h2 {
background-color:#D6D0DE;
padding:4px;
}

