php_value error_reporting 4095 
RewriteEngine On

RewriteCond %{REQUEST_URI}  !^/favicon.ico
RewriteCond %{REQUEST_URI}  !^.*/static/
RewriteCond %{REQUEST_URI}  !^/.*index.php
RewriteRule ^/*(.+)$ ./index.php?path=$1 [QSA]
